<h1> BOOKS </h1>

<ul>
  <% books.each_with_index do |book|  %>
    <li>
       <a href="/books/edit?book_id=<%= book.book_id %>,<%= book.id %>"><%= book.title %></a> -
       <a href="/books/delete?book_id=<%= book.book_id %>,<%= book.id %>"> Delete </a>
    </li>
  <% end %>
</ul>

<a href="/books/new">Create new</a>
